.w-grid {
    width: 70%;
    @media only screen and (max-width: 600px) {
        width: 100%;
    }
}

.shadow-card {
    box-shadow: 1px 1px 10px #cccccc;
    &.space {
        padding: 30px 20px 0 20px;
        margin: 13% 0 0 0;
        @media only screen and (max-width: 600px) {
            margin: 0;
        }
    }
}

form {
    padding: 0 15%;
    @media only screen and (max-width: 600px) {
        padding: 0;
    }
}

.social-btns {
    padding: 40px 0 0 0;
    @media only screen and (max-width: 600px) {
        padding: 10px 0 0 0;
    }
    .buttonicon {
        position: relative;
        .icon {
            position: absolute;
            top: 6px;
            left: 10%;
            font-size: 20px;
        }
    }
}

.input {
    padding: 20px 0 0 0;
    @media only screen and (max-width: 600px) {
        padding: 0;
    }
}

.check-forget {
    padding: 25px 0 0 0;
    .checkbox-label {
        position: relative;
        top: -3px;
        padding: 0 0 0 15px;
        color: #000000;
        font-weight: 700;
    }
    a {
        text-decoration: none;
        color: #000000;
        float: right;
        @media only screen and (max-width: 600px) {
            float: none;
        }
    }
}

.bottom-actions {
    padding: 15% 0 0 0;
    p {
        position: absolute;
        @media only screen and (max-width: 600px) {
            position: relative;
            text-align: center;
        }
        left: 10px;
        bottom: 20px;
        font-weight: 600;
        .link-signup {
            color: #000000;
            font-size: 16px;
        }
    }
    .btn-login {
        text-decoration: none;
        color: #ffffff;
        font-size: 22px;
        background: #000000;
        padding: 20px 60px;
        position: absolute;
        @media only screen and (max-width: 600px) {
            position: relative;
            right: 0;
            bottom: 0;
            display: block;
            text-align: center;
        }
        right: -20px;
        bottom: 0;
    }
}

.top-left {
    @media only screen and (max-width: 600px) {
        display: none;
    }
    &::before {
        content: '';
        position: absolute;
        top: 14%;
        left: 10%;
        width: 40px;
        height: 5px;
        background: #000000;
    }
    &::after {
        content: '';
        position: absolute;
        top: 5%;
        left: 15%;
        width: 5px;
        height: 40px;
        background: #000000;
    }
}

.top-right {
    @media only screen and (max-width: 600px) {
        display: none;
    }
    &::before {
        content: '';
        position: absolute;
        top: 14%;
        right: 10%;
        width: 40px;
        height: 5px;
        background: #000000;
    }
    &::after {
        content: '';
        position: absolute;
        top: 5%;
        right: 15%;
        width: 5px;
        height: 40px;
        background: #000000;
    }
}

.bottom-left {
    @media only screen and (max-width: 600px) {
        display: none;
    }
    &::before {
        content: '';
        position: absolute;
        bottom: 14%;
        left: 10%;
        width: 40px;
        height: 5px;
        background: #000000;
    }
    &::after {
        content: '';
        position: absolute;
        bottom: 5%;
        left: 15%;
        width: 5px;
        height: 40px;
        background: #000000;
    }
}

.bottom-right {
    @media only screen and (max-width: 600px) {
        display: none;
    }
    &::before {
        content: '';
        position: absolute;
        bottom: 14%;
        right: 10%;
        width: 40px;
        height: 5px;
        background: #000000;
    }
    &::after {
        content: '';
        position: absolute;
        bottom: 5%;
        right: 15%;
        width: 5px;
        height: 40px;
        background: #000000;
    }
}